services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: translations
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - appnet


  translator:
    image: libretranslate/libretranslate
    ports:
      - "5000:5000"


  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/translations
    ports:
      - "3001:3001"
    depends_on:
      - translator
      - db
    networks:
    - appnet


  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    networks:
      - appnet

volumes:
  db_data:

networks:
  appnet:
